<!-- Navbar start -->
<nav class="navbar justify-content-between">
  <!-- Reference: https://www.gethalfmoon.com/docs/navbar -->
  <a href="{{ site.baseurl }}/" class="navbar-brand left ml-15"
    ><img src="{{ site.baseurl }}/assets/images/tapedrop-logo.png"
  /></a>
  <div class="nav-links right hidden-sm-and-down">
    {%include navitems.html%}
  </div>
  <div class="dropdown hidden-md-and-up">
    <button class="btn" data-toggle="dropdown" type="button">
      <svg viewBox="0 0 80 75" width="20" height="30">
        <rect width="80" height="15"></rect>
        <rect y="30" width="80" height="15"></rect>
        <rect y="60" width="80" height="15"></rect>
      </svg>
    </button>
    <div
      class="dropdown-menu dropdown-menu-right d-flex flex-column text-center"
    >
      {%include navitems.html%}
    </div>
  </div>
</nav>
<!-- Navbar end -->
